@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

div {
	padding: 1em 2em;
	text-align: justify;
}

@media only screen and (max-width: 750px) {
	body {
		display: block;
	}

	div {
		padding: 1em 15%;
	}
}

h1 {
	margin-bottom: 1em;
	text-align: center;
}

p {
	text-indent: 1.5em;
}

a {
	white-space: nowrap;
}

em {
	font-weight: bold;
	font-style: normal;
}