@import url(http://fonts.googleapis.com/css?family=Open+Sans|Gilda+Display);

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;

	/* OMG that hurts my eyes */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; /* optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	-moz-font-variant-ligatures: common-ligatures;
	     font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern"; /* Firefox 14+ */
	font-feature-settings: "kern"; /* standard */
	-webkit-font-kerning: normal;
	   -moz-font-kerning: normal;
	        font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
}

a,
a:hover,
a:visited,
[lang] label {
	white-space: nowrap;
	color: #06C;
	text-decoration: none;
}

a:hover,
[lang] label:hover {
	text-decoration: underline;
}

h1,
h2 {
	font-family: 'Gilda Display', serif;
	font-size: 32px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.25)
}

h1 {
	margin-bottom: 1em;
	text-align: center;
}

p {
	text-indent: 1.5em;
}

em {
	font-weight: bold;
	font-style: normal;
}

section,
footer {
	padding: 1em 2em;
}

.intro {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.intro div {
	text-align: justify;
}

.call-to-action {
	display: none;
}

.intro [lang="en"]    { padding-right: 2em; }
.intro [lang="pt-br"] { padding-left:  2em; }

.experience {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.experience div > ul {
	list-style: none;
	text-align: justify;
	margin-top: 40px;
}

.position {
	margin-bottom: 40px;
}

.position header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.position h3 {
	display: block;
	margin: 0;
	margin-bottom: 1em;
	font-size: 20px;
}

.position .description {
	margin-left: 1em;
	margin-bottom: 1em;
	font-size: 13px;
}

.position ul {
	margin-left: 1em;
	margin-right: 3em;
	list-style: square;
}

.position .info {
	text-align: right;
	font-size: 14px;
	color: grey;
}

footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

footer p {
	text-align: justify;
}

footer .languages    { padding-right: 2em; }
footer .institutions { padding-left:  2em; }


/*
	Nifty checkbox for the language selection in pure CSS
*/

input { display: none; }

input:not(:checked) ~ [lang="pt-br"] { display: none;  }
input:not(:checked) ~ [lang="en"]    { display: block; }

input:checked       ~ [lang="pt-br"] { display: block; }
input:checked       ~ [lang="en"]    { display: none;  }

[lang] label {
	float: right;
	cursor: pointer;
}

[lang] label::-moz-selection,
[lang] label::selection {
	background-color: transparent;
	color: blue;
}


/*
	Adjust stuff so that it looks nice on small screens
*/

@media only screen and (max-width: 750px) {
	.intro,
	.call-to-action,
	footer {
		display: block;
	}

	.call-to-action {
		text-align: center;
		margin-top: 2em;
		font-size: large;
	}

	.intro [lang],
	.experience,
	footer {
		padding: 1em 4em;
	}

	.experience .date,
	.experience .location {
		float: right;
	}
	.experience .location::after {
		content: '|';
		margin-left: .5em;
		margin-right: .5em;
	}

	.experience .description {
		margin-top: 1em;
	}

	footer .languages,
	footer .institutions {
		padding: 0;
	}
}

@media only screen and (max-width: 600px) {
	h1,
	.intro div {
		text-align: left;
	}

	.intro [lang],
	.experience,
	footer {
		padding: 1em 2em;
	}

	.info { display: none; }

	a { white-space: normal; }
}

@media only screen and (max-width: 500px) {
	body {
		margin: 1em;
	}

	.intro,
	.intro [lang],
	.experience,
	.experience div > ul,
	footer p {
		padding: 0;
		text-align: left;
	}

	.experience div > ul {
		padding-left: .5em;
	}
}
