@import url(http://fonts.googleapis.com/css?family=Open+Sans|Gilda+Display);

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 940px;
	margin: 0 auto;

	/* OMG that hurts my eyes */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility; /* optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	-moz-font-variant-ligatures: common-ligatures;
	     font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern"; /* Firefox 14+ */
	font-feature-settings: "kern"; /* standard */
	-webkit-font-kerning: normal;
	   -moz-font-kerning: normal;
	        font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/

	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;
}

a,
a:hover,
a:visited {
	white-space: nowrap;
	color: #06C;
	text-decoration: none;
}

a:hover {
	color: #30a7fc;
}

h1 {
	margin-bottom: 1em;
	text-align: center;
	font-family: 'Gilda Display', serif;
	font-size: 32px;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}

p {
	text-indent: 1.5em;
}

em {
	font-weight: bold;
	font-style: normal;
}

.intro {
	padding: 1em 2em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.intro div {
	text-align: justify;
}

.intro [lang="en"]    { padding-right: 2em; }
.intro [lang="pt-br"] { padding-left:  2em; }

@media screen and (max-width: 950px) {
	.intro {
		flex-direction: column;
		align-self: center;
	}

	.intro [lang] {
		width: 380px;
		padding: 0;
	}
}

@media screen and (max-width: 450px) {
	.intro [lang] {
		width: 100%;
	}

	.intro div {
		text-align: left;
	}
}
